/* globals */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, .buttons{
    font-family: 'Ubuntu', sans-serif;
}
button,a{
    cursor: pointer;
}
a{color: black; text-decoration: none;}
li{
    list-style: none;
}
/* header and it's components styles */
header{
    background-color: #f1f2f6;
    padding: 0.9rem 0.9rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0 0 0 3.4rem;
}
#userAndSearch{
    display: flex;
    align-items: center;
    gap: 22rem;
    
}
#user-info{
    display: flex;
    align-items: center;
    gap: 1.2rem
}
#search{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
/* input styling with focus turned off */
#search_input{
    -webkit-appearance:none;
    width: 18rem;
    height: 1.8rem;
    border-radius: 1rem;
    border: solid #dfe4ea 2px;
    padding: 0.9px;
}
#search_input:focus{
    outline: none;
}
/* profile image styling */
.rounded-sm{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 21%;
}
.rounded-lg{
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 21%;
}
/* text styling  */
.bold-sm{
    font-weight: 700;
    font-size: 1.2rem;
}
.nm-md{
    font-weight: 400;
    font-size: 1.4rem;
}
.nm-lg{
    font-weight: 400;
    font-size: 1.8rem;
}
/* buttons styling */
.icon-btn{
    background-color: transparent;
    border: none;
}
.buttons{
    padding: 0.9rem 1.6rem;
    background-color: #ced6e0;
    border: none;
    border-radius: 1.2rem;
    font-size: 0.9rem;
}
#button_area{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#greetingsAndButtons{
    display: flex;
    align-items: center;
    gap: 13rem;
    padding-top: 0.7rem;
}
#greetings-area{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
#greetings-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
/* SIDEBAR FOR NAVIGATION */

aside{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 27%;
    height: 100%;
    background-color: #dfe4ea;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 3.4rem 0 0 0;
}
.rounded-md{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 18%;
}
#logoSection{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.nm-xl{
    font-weight: 500;
    font-size: 2.1rem;
}
ul:last-child{
    margin-top: 3.6rem;
}
.navOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 
}
.navOptions a{
    font-size: 1.2rem;
}